<div tabindex="-1" role="dialog" id="heidelpayCCModal" class="modal fade" style="z-index:1071;display:none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content" id="heidelpayCCModalContent">
            <div class="modal-header">
                <h4 class="modal-title">{{ trans("HeidelpayMGW::Frontend.ccModalTitle") }}</h4>
                <button type="button" aria-label="Close" class="close" onclick="closeHeidelpayCCModal(true);">
                    <span aria-hidden="true">×</span>
                </button> 
            </div> 
            <div class="modal-body" id="heidelpayCCModalBody">
                <div id="heidelpay-CC-form" class="heidelpayUI form" novalidate>
                    <div class="field">
                        <div id="card-element-id-number" class="heidelpayInput">
                            <!-- Card number UI Element will be inserted here. -->
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field ten wide">
                        <div id="card-element-id-expiry" class="heidelpayInput">
                            <!-- Card expiry date UI Element will be inserted here. -->
                        </div>
                        </div>
                        <div class="field six wide">
                        <div id="card-element-id-cvc" class="heidelpayInput">
                            <!-- Card CVC UI Element will be inserted here. -->
                        </div>
                        </div>
                    </div>
                    <div class="field">
                        <button id="heidelpayCCSubmit" class="heidelpayUI primary button fluid">
                            <i id="ccModalPayButtonArrow" aria-hidden="true"></i>
                            {{ trans("HeidelpayMGW::Frontend.ccModalPay") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function closeHeidelpayCCModal(selfClose) {
    if (selfClose) {
        document.getElementById('checkoutButtonHeidelpay').disabled = false;
        document.getElementById('checkoutButtonHeidelpayArrow').className = 'fa fa-arrow-right';
    }

    document.body.classList = 'page-checkout page-category category- no-touch';
    if (document.getElementById("modalFadeBackground")) {
        document.body.removeChild(document.getElementById("modalFadeBackground"));
    }

    document.getElementById("heidelpayCCModal").className = "modal fade";
    document.getElementById("heidelpayCCModal").style.display = "none";

    for (let child of document.getElementById("card-element-id-number").childNodes) {
        document.getElementById("card-element-id-number").removeChild(child);
    }
    for (let child of document.getElementById("card-element-id-expiry").childNodes) {
        document.getElementById("card-element-id-expiry").removeChild(child);
    }
    for (let child of document.getElementById("card-element-id-cvc").childNodes) {
        document.getElementById("card-element-id-cvc").removeChild(child);
    }
}

function showHeidelpayCCModal() {
    document.getElementById('checkoutButtonHeidelpay').disabled = true;
    document.getElementById('checkoutButtonHeidelpayArrow').className = 'fa fa-circle-o-notch fa-spin';

    let elem = document.createElement('div');
    elem.setAttribute("id", "modalFadeBackground");
    elem.className = "modal-backdrop fade in show";
    document.body.appendChild(elem);
    document.body.classList = 'page-checkout page-category category- no-touch modal-open';

    document.getElementById("heidelpayCCModal").className = "modal fade in show";
    document.getElementById("heidelpayCCModal").style.display = "block";
}
</script>