<div tabindex="-1" role="dialog" id="heidelpayIdealModal" class="modal fade" style="z-index:1071;display:none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content" id="heidelpayIdealModalContent">
            <div class="modal-header">
                <h4 class="modal-title">{{ trans("HeidelpayMGW::Frontend.idealModalTitle") }}</h4>
                <button type="button" aria-label="Close" class="close" onclick="closeHeidelpayIdealModal(true);">
                    <span aria-hidden="true">×</span>
                </button> 
            </div> 
            <div class="modal-body" id="heidelpayIdealModalBody">
                <div id="heidelpay-ideal-form" class="heidelpayUI form" novalidate>
                    <div id="ideal-element" class="field">
                        <!-- The iDEAL UI Element will be inserted here -->
                    </div>
                    <div class="field">
                        <button id="heidelpayIdealSubmit" class="heidelpayUI primary button fluid">
                            <i id="idealModalPayButtonArrow" aria-hidden="true"></i>
                            {{ trans("HeidelpayMGW::Frontend.idealModalPay") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
document.getElementById('sepaDirectDebitMandateText').innerHTML = document.getElementById('sepaDirectDebitMandateText').innerHTML.replace(/\{NAME OF MERCHANT\}/g, '<b>{{companyName}}<\/b>');

function closeHeidelpayIdealModal(selfClose) {
    if (selfClose) {
        document.getElementById('checkoutButtonHeidelpay').disabled = false;
        document.getElementById('checkoutButtonHeidelpayArrow').className = 'fa fa-arrow-right';
    }

    document.body.classList = 'page-checkout page-category category- no-touch';
    if (document.getElementById("modalFadeBackground")) {
        document.body.removeChild(document.getElementById("modalFadeBackground"));
    }

    document.getElementById("heidelpayIdealModal").className = "modal fade";
    document.getElementById("heidelpayIdealModal").style.display = "none";

    for (let child of document.getElementById("ideal-element").childNodes) {
        document.getElementById("ideal-element").removeChild(child);
    }
}

function showHeidelpayIdealModal() {
    document.getElementById('checkoutButtonHeidelpay').disabled = true;
    document.getElementById('checkoutButtonHeidelpayArrow').className = 'fa fa-circle-o-notch fa-spin';

    let elem = document.createElement('div');
    elem.setAttribute("id", "modalFadeBackground");
    elem.className = "modal-backdrop fade in show";
    document.body.appendChild(elem);
    document.body.classList = 'page-checkout page-category category- no-touch modal-open';

    document.getElementById("heidelpayIdealModal").className = "modal fade in show";
    document.getElementById("heidelpayIdealModal").style.display = "block";
}
</script>