<div tabindex="-1" role="dialog" id="heidelpayB2BCustomerModal" class="modal fade" style="z-index:1071;display:none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content" id="heidelpayB2BCustomerModalContent">
            <div class="modal-header">
                <button type="button" aria-label="Close" class="close" onclick="closeHeidelpayB2BCustomerModal(true);">
                    <span aria-hidden="true">×</span>
                </button> 
                <h4 class="modal-title">{{ trans("HeidelpayMGW::Frontend.b2bCustomerModalTitle") }}</h4>
            </div> 
            <div class="modal-body" id="heidelpayB2BCustomerModalBody">
                <div id="customerB2B" class="field">
                </div>
                <div class="field pt-3">
                    <button id="heidelpayB2BCustomerSubmit" class="heidelpayUI primary button fluid" onclick="validateB2BCustomer()">
                        <i id="heidelpayB2BCustomerButtonArrow" aria-hidden="true"></i>
                        {{ trans("HeidelpayMGW::Frontend.b2bCustomerModalOK") }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function closeHeidelpayB2BCustomerModal(selfClose) {
    if (selfClose) {
        document.getElementById('checkoutButtonHeidelpay').disabled = false;
        document.getElementById('checkoutButtonHeidelpayArrow').className = 'fa fa-arrow-right';
    }
    document.body.classList = 'page-checkout page-category category- no-touch';
    if (document.getElementById("modalFadeBackground")) {
        document.body.removeChild(document.getElementById("modalFadeBackground"));
    }

    let rootNode = document.getElementById("customerB2B");
    while (rootNode.lastChild) {
        rootNode.removeChild(rootNode.lastChild);
    }

    document.getElementById("heidelpayB2BCustomerModal").className = "modal fade";
    document.getElementById("heidelpayB2BCustomerModal").style.display = "none";

}

function showHeidelpayB2BCustomerModal() {
    matchHeidelpayB2BData();
    document.getElementById('checkoutButtonHeidelpay').disabled = true;
    document.getElementById('checkoutButtonHeidelpayArrow').className = 'fa fa-circle-o-notch fa-spin';

    let elem = document.createElement('div');
    elem.setAttribute("id", "modalFadeBackground");
    elem.className = "modal-backdrop fade in show";
    document.body.appendChild(elem);
    document.body.classList = 'page-checkout page-category category- no-touch modal-open';

    document.getElementById("heidelpayB2BCustomerModal").className = "modal fade in show";
    document.getElementById("heidelpayB2BCustomerModal").style.display = "block";
}

function matchHeidelpayB2BData() {
    let address = vueApp.$store.state.address.billingAddress;
    let b2bCustomer = window.b2bCustomer;
    // customer
    b2bCustomer.b2bData.birthDate = getBirthday(address);
    b2bCustomer.b2bData.company = address.address2;
    b2bCustomer.b2bData.email = getEmail(address);
    b2bCustomer.b2bData.firstname = address.name2;
    b2bCustomer.b2bData.lastname = address.name3;
    jQuery('input[name ="company-'+b2bCustomer.ts+'"]').val(address.name1);
    jQuery('input[name ="city-'+b2bCustomer.ts+'"]').val(address.town);
    jQuery('input[name ="street-'+b2bCustomer.ts+'"]').val(address.address1 + ' ' + address.address2);
    jQuery('input[name ="zip-'+b2bCustomer.ts+'"]').val(address.postalCode);
}

function gatherHeidelpayB2BData(b2bCustomer) {
    if (!jQuery('input[name ="checkbox-customerB2B-'+b2bCustomer.ts+'"]')[0].checked) {
        return {
            'company': jQuery('input[name ="company-'+b2bCustomer.ts+'"]').val(),
            'city': jQuery('input[name ="city-'+b2bCustomer.ts+'"]').val(),
            'street': jQuery('input[name ="street-'+b2bCustomer.ts+'"]').val(),
            'zip': jQuery('input[name ="zip-'+b2bCustomer.ts+'"]').val(),
            'country': jQuery(".countryCombobox option:selected").val(),
            'commercialRegisterNumber': jQuery('input[name ="commercialRegisterNumber-'+b2bCustomer.ts+'"]').val(),
            'commercialSector': jQuery(".commercialSectorCombobox option:selected").val(),
            'companyRegistered': 'registered'
        };
    }
    
    return {
        'birthDate': jQuery('input[name ="birthDate-'+b2bCustomer.ts+'"]').val(),
        'company': jQuery('input[name ="company-'+b2bCustomer.ts+'"]').val(),
        'email': jQuery('input[name ="email-'+b2bCustomer.ts+'"]').val(),
        'firstName': jQuery('input[name ="firstname-'+b2bCustomer.ts+'"]').val(),
        'lastName': jQuery('input[name ="lastname-'+b2bCustomer.ts+'"]').val(),
        'city': jQuery('input[name ="city-'+b2bCustomer.ts+'"]').val(),
        'street': jQuery('input[name ="street-'+b2bCustomer.ts+'"]').val(),
        'zip': jQuery('input[name ="zip-'+b2bCustomer.ts+'"]').val(),
        'country': jQuery(".countryCombobox option:selected").val(),
        'commercialSector': jQuery(".commercialSectorCombobox option:selected").val(),
        'salutation': jQuery(".salutation-customerB2B :checked").val(),
        'companyRegistered': 'unregistered'
    };
}

function getEmail(address) {
    for (let option of address.options) {
        if (option.typeId === 5) {
            return option.value;
        }
    }
}
function getBirthday(address) {
    for (let option of address.options) {
        if (option.typeId === 9) {
            return option.value;
        }
    }
}
</script>