<div tabindex="-1" role="dialog" id="heidelpayPaypalModal" class="modal fade" style="z-index:1071;display:none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content" id="heidelpayPaypalModalContent">
            <div class="modal-header">
                <h4 class="modal-title">{{ trans("HeidelpayMGW::Frontend.paypalModalTitle") }}</h4>
                <button type="button" aria-label="Close" class="close" onclick="closeHeidelpayPaypalModal(true);">
                    <span aria-hidden="true">×</span>
                </button> 
            </div> 
            <div class="modal-body" id="heidelpayPaypalModalBody">
                <div id="heidelpay-paypal-form" class="heidelpayUI form" novalidate>
                    <div class="field">
                        <div id="container-heidelpay-paypal">
                            <!-- Paypal UI Elements will be inserted here. -->
                        </div>
                    </div>
                    <div class="field">
                        <button id="heidelpayPaypalSubmit" class="heidelpayUI primary button fluid">
                            <i id="paypalModalPayButtonArrow" aria-hidden="true"></i>
                            {{ trans("HeidelpayMGW::Frontend.paypalModalPay") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function closeHeidelpayPaypalModal(selfClose) {
    if (selfClose) {
        document.getElementById('checkoutButtonHeidelpay').disabled = false;
        document.getElementById('checkoutButtonHeidelpayArrow').className = 'fa fa-arrow-right';
    }

    document.body.classList = 'page-checkout page-category category- no-touch';
    if (document.getElementById("modalFadeBackground")) {
        document.body.removeChild(document.getElementById("modalFadeBackground"));
    }

    document.getElementById("heidelpayPaypalModal").className = "modal fade";
    document.getElementById("heidelpayPaypalModal").style.display = "none";

    for (let child of document.getElementById("container-heidelpay-paypal").childNodes) {
        document.getElementById("container-heidelpay-paypal").removeChild(child);
    }
}

function showHeidelpayPaypalModal() {
    document.getElementById('checkoutButtonHeidelpay').disabled = true;
    document.getElementById('checkoutButtonHeidelpayArrow').className = 'fa fa-circle-o-notch fa-spin';

    let elem = document.createElement('div');
    elem.setAttribute("id", "modalFadeBackground");
    elem.className = "modal-backdrop fade in show";
    document.body.appendChild(elem);
    document.body.classList = 'page-checkout page-category category- no-touch modal-open';

    document.getElementById("heidelpayPaypalModal").className = "modal fade in show";
    document.getElementById("heidelpayPaypalModal").style.display = "block";
}
</script>